/*********** Fonts ***********/
@import url('https://fonts.googleapis.com/css?family=Oswald:300|Sacramento|Amatic+SC|Homemade+Apple');

/*********** Fixes *************/
* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

/* prevent the verify image on contact page from stretching */
img.verif_img {
  width: 50px;
  height: 35px;
  vertical-align: bottom;
}

/*********** Global ************/
body {
  background-color: #FFF;
}

nav {
  word-spacing: 40px;
  margin-right: 50px;
}

section {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  padding: 20px 20px 55px 20px;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 45px;
  color: black;
  margin-top: 2%;
  text-decoration: none;
}

h1 span {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  color: black;
  padding-bottom: 10px;
  text-decoration: underline;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  word-spacing: 4px;
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

fieldset {
  padding-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  color: black;
  border: none;
}

input, textarea {
  display: inline-block;
  width: 100%;
  font-size: 22px;
  box-shadow: 0 3px 5px #ccc;
  border: 1px solid #black;
  padding: 2px 0 2px 5px;
  outline: none;
}

input[type="submit"] {
  margin-top: 8px;
  width: 90px;
  background-color: #2e2e2e;
  color: white;
  border-radius: 25px;
  border: 0;
  font-size: 18px;
}

input[type="submit"]:hover {
  background: #555;
}

input.verif_box {
  display: inline-block;
  width: 89%;
  margin-right: 5px;
}

.wrapper {
  text-align: center;
}

a:link {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  color: black;
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: underline;
}

a:hover.zeke {
  opacity: .5;
}

a:visited {
  color: black;
}

a:visited.zeke {
  text-decoration: none;
}

/*********** Logo/Nav ************/
#logo-nav {
  margin-top: 8px;
}

#logo {
  display: inline-block;
  width: 29.5%;
  text-align: left;
}

#logo h1 {
  color: #000;
  text-shadow: 0 2px 3px #ecb289;
  font-size: 3.5em;
  display: inline;
  margin-left: 50px;
}

#nav-bar {
  display: inline-block;
  width: 69.5%;
  text-align: right;
}

.nav {
  padding: 0;
}

/*********** Sections ************/

/*********** Hero ************/
#hero {
  margin-top: 10px;
  padding: 0;
}

#hero img {
  position: relative;
  width: 90%;
}

/*********** About ************/
#about p {
  padding: 5% 50px 0 0;
  vertical-align: top;
}

#about img {
  width: 20%;
  box-shadow: 0px 5px 15px black;
}

/*********** Guide ************/
#portfolio p {
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
}

.polaroid {
  width: 40%;
  background-color: white;
  display: inline-block;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0px 5px 15px black;
}

#portfolio img {
  width: 100%;
}

#contact p {
  padding-top: 10%;
}

#success {
  padding-top: 20px;
}

#social {
  clear: both;
  margin-bottom: 50px;
  padding: 25px 15px 25px 15px;
}

#social p {
  padding-bottom: 15px;
}

/*********** Positioning Classes ************/
.col1_left {
  float: left;
	width: 49%;
	margin: 0 1% 0 0;
}

.col1_right {
  float: right;
  width: 49%;
  margin: 0 0 0 1%;
}

/*********** Footer ************/
footer {
  text-align: center;
  font-size: 14px;
  color: white;
  font-family:'Oswald', sans-serif;
}
